<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="student1" class="com.jsp.spring.FirstSpringProj.Student">
		
		<constructor-arg name="sId" value="101"></constructor-arg>
		<constructor-arg name="sName" value="John"></constructor-arg>
		
    </bean>
    
    <!-- <bean id="student2" class="com.jsp.spring.FirstSpringProj.Student">
		
		<constructor-arg name="sId" value="102"></constructor-arg>
		<constructor-arg name="sName" value="Jack"></constructor-arg>
		
    </bean>
    <bean id="student3" class="com.jsp.spring.FirstSpringProj.Student">
		
		<constructor-arg name="sId" value="103"></constructor-arg>
		<constructor-arg name="sName" value="Jason"></constructor-arg>
		
    </bean> -->
    
    <!-- <bean id="faculty" class="com.jsp.spring.FirstSpringProj.Faculty">
		<property name="s1" ref="student1"></property>    
		<property name="s2" ref="student2"></property>    
		<property name="s3" ref="student3"></property>    
    </bean> -->
    
</beans>